p {
  margin-bottom: 0;
}

.header-bar {
  color: whitesmoke;
  background-color: #4BA168;
}

.user-image-absolute {
  aspect-ratio: 1/1;
  width: 20%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.lizard-card {
  border-radius: 5px;
  box-shadow: 1px 0px 5px black;
  height: 100%
}

.modal-dialog {
  min-width: 60vw;
}

.sally-picture {
  height: 35vh;
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.word-wrap {
  word-break: break-word;
}

.user-image {
  aspect-ratio: 1/1;
  width: 20%;
}